h1{
    color: #cbd543;
    font-size: 2rem;
    font-weight: 900;
    margin: 1.5rem;
}

.pHead{
    font-weight: 900;
    margin-bottom: 0;
}

.pHeadOrange{
    color: #d1a10e;
}

.pText{
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
}

.pText:before {
    content: "";
    left: 0;
    border-bottom: .25rem dotted #474747;
    bottom: 0;
    opacity: .5;
    position: absolute;
    width: 30%;
}

.pTextLast:before {
 border-bottom: none;
}

.listSections{
    margin-bottom: 1rem;
}

hr{
    background-color: #ccc;
    border: none;
    height: .0125rem;
    margin: 1rem 0;
    width: 50%;
}

.accordionList{
    padding-left: 2rem;
}

.accordionListTitle{
    margin-bottom: 0;
}

#basicPageContainer{
    display: flex;
    margin: auto;
    width: 80%;
}

.basicPageContentContainer{
    margin: 3rem 3rem 3rem 0rem;
    width: 80%;
}

.basicPageMain{
    border: .5rem solid #cbd543;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.basicPageContent{
    height: 50vh;
    line-height: 1.75rem;
    letter-spacing: .0125rem;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0rem 1.5rem;

}

.basicPageContent::-webkit-scrollbar {
    width: .5rem;
}

.basicPageContent::-webkit-scrollbar-track {
    background: none;
}

.basicPageContent::-webkit-scrollbar-thumb {
    background: #cbd543;
    border-radius: .5rem;
}

.basicPageContent::-webkit-scrollbar-thumb:hover {
    background: #cbd543;
}

.accordion {
    background-color: #cbd543;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    transition: 0.4s;
}

.nestedAccordion {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 1rem 0 .5rem;
    transition: 0.4s;
}

/*.active, .accordion:hover {*/
/*    background-color: #ccc;*/
/*}*/

.accordionContent {
    display: none;
    font-size: 1rem;
    overflow: hidden;
    padding: 0rem 2rem 2rem;
}

/*.accordionContentInterior {*/
/*    display: none;*/
/*    font-size: 1rem;*/
/*    overflow: hidden;*/
/*    padding: 0rem 2rem 2rem;*/
/*}*/

.accordion:after, .nestedAccordion:after {
    content: '\02795';
    float: right;
    font-size: 1rem;
}

.active:after {
    content: "\2796";
}

/*.accordionInterior:after {*/
/*    content: '\02795';*/
/*    float: right;*/
/*    font-size: 1rem;*/
/*}*/

/*.active:after {*/
/*    content: "\2796";*/
/*}*/

.accordionContentTwoColumn {
    display: none;
    font-size: 1rem;
    overflow: hidden;
    padding-bottom: 2rem;
}

.accordionColumns{
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.columnLeft{
    text-align: center;
    padding: 5rem 0 0 0;
}

.columnLeftBasic{
    padding-left: 1rem;
    text-align: left;
}

.columnRight{
    border-left: solid .0125rem #d1a10e;
    padding-left: 2rem;
}

.footNote{
    /*border-top: .0125rem solid rgb(0,0,0,.2);*/
    font-size: .9rem;
    line-height: 1.25rem;
    /*padding-top: 1rem;*/
}

.sideBar {
    background-color: #cbd543;
    padding: 3rem 0;
    width: 300px;
}

.sideBarText{
    padding: .75rem;
}

.sideBarAd{
    height: 250px;
    margin-bottom: 2rem;
    width: 300px;
}