#faqContainer{
    display: flex;
    margin: auto;
    width: 80%;
}

.faqContentContainer{
    margin: 3rem 3rem 3rem 0rem;
    width: 80%;
}

.gameTitle{
    font-size: 1.125rem;
    font-weight: 900;
    margin-bottom: .125rem;
}

.gameInfo{
    margin-bottom: 1rem;
}
