<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/submitMedia.js" defer></script>
    <title>Media Management Page</title>
</head>
<body>


<h1>Hello, I will be Gail's media management page</h1>

<div>
    <label for="pageLocationInput">Page on which image or ad is displayed. (Will be dropdown)</label>
    <input type="text" id="pageLocationInput">
</div>

<div>
    <label for="adTagUrl">If ad, the complete Url</label>
    <input type="text" id="adTagUrl">
</div>

<div style="margin:3rem">
    <label for="columnAInput">Column position A</label>
    <input type="text" id="columnAInput">
</div>

<div style="margin:3rem">
    <label for="columnBInput">Column position B</label>
    <input type="text" id="columnBInput">
</div>

<div style="margin:3rem">
    <label for="columnCInput">Column position C</label>
    <input type="text" id="columnCInput">
</div>

<button type="submit" id="submitButton" style="background-color: aqua"><h2>Submit</h2></button>

<div id="currentAdsDiv">




</div>



</body>
</html>
