<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Successful!</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/form.css">

</head>
<body>
<section id="basicPageContainer">
    <div class="signUpContainer">
        <div class="basicPageMain">


            <div class="container text-center">
                <h3>You have signed up successfully!</h3>
                <h4><a th:href="@{/login}">Click here to Login</a></h4>
            </div>


                </div>
            </div>

</section>
</body>
</html>

