<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Simple Machines</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/basicPage.css">
  <link rel="stylesheet" href="/css/singleGameView.css">

  <script src="js/accordion.js" defer></script>
  <script src="js/game.js" defer></script>
  <script src="js/navHeightMaker.js" defer></script>

</head>
<body>

<section id="header">
  <div class="logoContainer">
    <div class="logo">
      <img src="/assets/ed_logo.png" alt="" class="logoImg">
    </div>
  </div>
  <div class="mainNavContainer">

    <div class="weatherGirlContainer">
      <div class="weatherGirl">
        <img src="/assets/weatherGirlWithBanner.png" alt="" class="weatherGirlImg">
      </div>
      <div class="bannerText"><a href="/login">Log In</a> or <a href="/sign-up">Sign Up!</a></div>
    </div>
    <ul class="mainNavLeft" id="mainNavLeft">
      <li sec:authorize="isAuthenticated()" class="mainNavItem"><a href="/teachers">Teachers</a></li>
      <li class="mainNavItem"><a href="/welcome">Welcome</a></li>
      <li class="mainNavItem"><a href="/about-us">About Us</a></li>
      <li class="mainNavItem   activeNav" style="margin-right: 2rem"><a href="/our-games">Our Games</a></li>
      <li class="mainNavItem" style="margin-left: 2rem"><a href="/get-involved">Get Involved</a></li>
      <li class="mainNavItem"><a href="/donate">Donate</a></li>
    </ul>
  </div>
</section>


<section id="singleGameContainer">

  <div class="singleGameContentContainer">
    <div class="backNav"><a href="/our-games">Back to Games</a> </div>

    <h1>Simple Machines</h1>

    <div class="gameImageContainer">

      <a href="http://www.edheads2.org/nano/Browser/Intro/Index.html" onclick="return openwindow('http://www.edheads2.org/nano/Browser/Intro/Index.html')">
        <img src="/assets/game2.jpg" alt="" class="gameImg">
      </a>
      <div class="sponsorTag">
        <a href="#"> Sponsor This Game!</a>
      </div>
    </div>

    <div class="singleGameContent">
      <p class="pHead">Grades: 2-6</p>
      <p>Search a robot’s house to find simple machines or his tool shed for compound machines!</p>
    </div>

<!--    <div class="sponsorContainer">-->
<!--      <div class="sponsorContent"> LOGO WILL HERE</div>-->
<!--    </div>-->


    <div class="accordion">Glossary of Terms
    </div>
    <div class="accordionContent">
      <p class="pHead">Compound Machine</p>
      <p class="pText">Two or more simple machines working together to make work easier.<br>
        Examples:Wheelbarrow, Can Opener, Bicycle</p>

      <p class="pHead">Gears</p>
      <p class="pText">Two toothed wheels fit together either directly
        or through a chain or belt so one wheel will turn the other.
        Some gears may have a screw or a toothed shaft in place
        of one of the wheels. A gear may also be a combination
        of toothed wheels that produces a certain speed
        (such as a bicycle's top gear which makes the bike go fast,
        and the low gear for slow speed.) <br>
        Examples:Clock, Automobile, Drill
      </p>

      <p class="pHead">Inclined plane</p>
      <p class="pText">A sloping surface, such as a ramp.
        An inclined plane can be used to alter the effort and distance involved
        in doing work, such as lifting loads. The trade-off is that an object
        must be moved a longer distance than if it was lifted straight up,
        but less force is needed.<br>
        Examples:Staircase, Ramp, Bottom of a Bath Tub
      </p>
      <p class="pHead">Lever</p>
      <p class="pText">A straight rod or board that pivots on a point known
        as a fulcrum. The fulcrum can be moved depending on the weight of
        the object to be lifted or the force you wish to exert. Pushing
        down on one end of a lever results in the upward motion of the opposite
        end of the fulcrum.<br>
        Examples:Door on Hinges, Seesaw, Hammer, Bottle Opener
      </p>

      <p class="pHead">Pulley</p>
      <p class="pText">A wheel that usually has a groove around the outside edge.
        This groove is for a rope or belt to move around the pulley.
        Pulling down on the rope can lift an object attached to the rope.
        Work is made easier because pulling down on the rope is made easier
        due to gravity.<br>
        Examples:Flag Pole, Crane, Mini-Blinds
      </p>

      <p class="pHead">Screw</p>
      <p class="pText">An inclined plane wrapped around a shaft or cylinder.
        This inclined plane allows the screw to move itself or to move an object or
        material surrounding it when rotated.<br>
        Examples:Bolt, Spiral Staircase
      </p>

      <p class="pHead">Simple Machine</p>
      <p class="pText">A machine with few or no moving parts. Simple machines make work easier. <br>
        Examples:Screw, Wheel and Axle, Wedge, Pulley, Inclined Plane, Lever
      </p>

      <p class="pHead">Wedge</p>
      <p class="pText">Two inclined planes joined back to back. Wedges are used to split things.<br>
        Examples:Axe, Zipper, Knife
      </p>

      <p class="pHead">Wheel and Axle</p>
      <p class="pTextLast">A wheel and axle has a larger wheel (or wheels) connected by a smaller cylinder
        (axle) and is fastened to the wheel so that they turn together. When the axle is turned,
        the wheel moves a greater distance than the axle, but less force is needed to move it.
        The axle moves a shorter distance, but it takes greater force to move it.<br>
        Examples:Door Knob, Wagon, Toy Car
      </p>
    </div>

    <div class="accordion">Credits and Thanks
    </div>
    <div class="accordionContentTwoColumn">
      <div class="accordionColumns">

        <div class="columnLeft">
          <p>Logo will go here</p>
          <p class="pHead">Funding by Martha Holden <br> Jennings Foundation
          </p>
        </div>

        <div class="columnRight">
          <p class="pHead">Project Production and Development
          </p>
          <p class="accordionListTitle">Project Director: Gail Wheatley
          <ul class="accordionList">
            <li>Research</li>
            <li>Project Organization</li>
            <li>Grant Preparation</li>
            <li>Activity Ideas & Concepts</li>
          </ul>
          </p>
          <p class="accordionListTitle">Creative Director: Eric Bort
          <ul class="accordionList">
            <li>Activity, Web & Print Design</li>
            <li>Programming</li>
            <li>Script Writing</li>
            <li>Voice and Audio</li>
          </ul>
          </p>
          <p>Conceptual room designs: Steve Galgas</p>
          <p>Science Editing: Steve Whitt</p>
          <p>Text Editing: Heather Evans</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sideBar">
    <!--        <div class="sideBarText">Sidebar Text</div>-->
    <div>
      <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">
    </div>

    <div>
      <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">
    </div>
  </div>

</section>


<section id="footer">
  <div class="footerText">
    <p>Edheads is a non-profit that creates unique,
      free Web experiences to promote STEM education.
    </p>
  </div>

  <div class="footerLinks">
    <a href="https://www.facebook.com/Edheads">
      <img src="/assets/facebook.png" alt="" class="socialIcon"></a>
    <a href="https://twitter.com/Edheadsdotorg">
      <img src="/assets/twitter.png" alt="" class="socialIcon"></a>
    <a href="https://www.linkedin.com/company/edheads">
      <img src="/assets/instagram.png" alt="" class="socialIcon"></a>
    <a href="https://www.pinterest.com/edheads/_created/">
      <img src="/assets/pinterest.png" alt="" class="socialIcon"></a>
    <a href="https://www.youtube.com/user/Edheadsorg">
      <img src="/assets/youTube.png" alt="" class="socialIcon"></a>
    <button class="footerButton"><a href="/donate">Make a Donation</a></button>
  </div>

</section>
</body>
</html>
